# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
NEXT_PUBLIC_SUPABASE_BUCKET=your-bucket-name

# API
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Debug (optional)
NEXT_PUBLIC_DEBUG=false
NEXT_PUBLIC_FETCH_COOLDOWN_MS=5000
